<header class="header">
    <nav>
        <span class="twentyPix"><h1>JacKr Enterprises</h1></span>
        <ul class="header__nav_list">
            <li><a th:href=@{/treks}>Treks</a></li>
            <li><a th:href=@{/trekTypes}>Trek Types</a></li>
            <li><a th:href=@{/regions}>Regions</a></li>
            <li><a th:href=@{/continents}>Continents</a></li>
            <li><a th:href=@{/aboutUs}>About Us</a></li>
            <li><a th:href=@{/contactUs}>Contact Us</a></li>
        </ul>
    </nav>
</header>
