<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<main layout:fragment="content">
    <div class="container">
        <h1>CONTACT US</h1>
        <p1>Please complete this form and hit the "Submit" button. One of our team
            will then follow up with you. Please note, in 2021 we are currently in
            hibernation, and working reduced hours. Hence a reply to your enquiry
            and correspondence may be delayed.
        </p1>
        <form>
            <div class="input-row">
                <div class="input-group">
                    <label>Name</label>
                    <input placeholder="John Smith" type="text">
                </div>
                <div class="input-group">
                    <label>Phone Number</label>
                    <input placeholder="+1 800-123-4567" type="text">
                </div>
                <div class="input-group">
                    <label>Email</label>
                    <input placeholder="jackr@enterprise.com" type="email">
                </div>
                <div class="input-column">
                    <label>Send Message</label>
                    <textarea placeholder="Your inquiry" rows="10"></textarea>
                </div>
            </div>
            <button class="contactUs__button" type="submit">SUBMIT</button>
        </form>
</main>

</html>