<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="fullstyle.css" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Us</title>
</head>
<body>
<div class="container">
  <h1>CONTACT US</h1>
  <p1
  >Please complete this form and hit the "Submit" button. One of our team
    will then follow up with you. Please note, in 2021 we are currently in
    hibernation, and working reduced hours. Hence a reply to your enquiry
    and correspondence may be delayed.</p1
  >
  <form>
    <div class="input-row">
      <div class="input-group">
        <label>Name</label>
        <input type="text" placeholder="John Smith">
      </div>
      <div class="input-group">
        <label>Phone Number</label>
        <input type="text" placeholder="+1 800-123-4567">
      </div>
      <div class="input-group">
        <label>Email</label>
        <input type="email" placeholder="jackr@enterprise.com">
      </div>
      <div class="input-column">
        <label>Send Message</label>
        <textarea rows="10" placeholder="Your inquiry"></textarea>
      </div>
    </div>
    <button class="contactUs__button" type="submit">SUBMIT</button>
  </form>
</body>
</html>