<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="styleHome.css" />
  </head>
  <header>
    <h1>A Trek is a Long Arduous Journey</h1>
    <h2>Never Stop Trekking the World!</h2>
  </header>
  <body>
    <div class="rotate">
      <span style="--i: 1"><img src="/team-1-trek/src/main/resources/static/images/hiking-map.jpg" /></span>
      <span style="--i: 2"
        ><img src="/team-1-trek/src/main/resources/static/images/RockyMountains.jpg"
      /></span>
      <span style="--i: 3"><img src="/team-1-trek/src/main/resources/static/images/Alps.jpg" /></span>
      <span style="--i: 4"><img src="/team-1-trek/src/main/resources/static/images/Himalayas.jpg" /></span>
      <span style="--i: 5"><img src="/team-1-trek/src/main/resources/static/images/Andes.jpg" /></span>
      <span style="--i: 6"
        ><img src="/team-1-trek/src/main/resources/static/images/MountKilimanjaro.jpg"
      /></span>
      <span style="--i: 7"
        ><img src="/team-1-trek/src/main/resources/static/images/GreatDividingRange.jpg"
      /></span>
      <span style="--i: 8"><img src="/team-1-trek/src/main/resources/static/images/MtTennant.jpg" /></span>
    </div>
  </body>
</html>
