<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Search Bar</title>
    <link href="settingsBarStyle.css" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <form>
        <h1>Find Experiences Near You</h1>
        <div class="form-box">
          <input type="text" class="search-field treks" placeholder="Treks.." />
          <input
            types="text"
            class="search-field location"
            placeholder="Location"
          />
          <button class="search-button" type="button">Search</button>
        </div>
      </form>
    </div>
  </body>
</html>
